<!-- Obtenemos este ejemplo de: https://getbootstrap.com/docs/4.0/components/navbar/ -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Agregamos esta clase container para alinear todo su contenido -->
  <div class="container"> 
    <a class="navbar-brand" routerLink="/">ngMySQL CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" ml-auto>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" routerLinkActive="active"><i class="fas fa-gamepad"></i>Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Add games</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
