<div class="col-md-4" *ngFor="let game of games">
    <div class="card" text-center>
        <div class="card-header" bg-dark text-white d-flex justify-content-between align-items-center>
                {{game.title}}
                <button class="btn btn-danger" (click)="deleteGame(game.id)">
                    <i class="fas fa-trash-alt"  style='font-size:16px' ></i>
                </button>
        </div>
        <img src="{{game.image}}" class="card-img-top">
        <div class="card-body">
            <p>{{game.description}}</p>
            <!-- En lugar de agregarle el método click al botón vamos a redireccionarlo directamente  -->
            <a [routerLink]="['/games/edit', game.id]" routerLinkActive="router-link-active"  class="btn btn-info btn-block">
                EDIT GAME
            </a>
        </div>
    </div>    
</div>